<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data;charset=utf-8" />
    <meta charset="UTF-8">
    <title>认证页面1</title>
    <link rel="stylesheet" href="css/companyrz1.css">
    <script src="../../tooljs/jquery.min.js"></script>
    <script src="../../tooljs/vue.min.js"></script>
    <script src="../../tooljs/vue-resource.min.js"></script>
    <!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script>
        //img视图
        function imgPreview(fileDom){
            //判断是否支持FileReader
            if (window.FileReader) {
                var reader = new FileReader();
            } else {
                alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
            }

            //获取文件
            var file = fileDom.files[0];
            var imageType = /^image\//;
            //是否是图片
            if (!imageType.test(file.type)) {
                alert("请选择图片！");
                return;
            }
            //读取完成
            reader.onload = function(e) {
                //获取图片dom
                var img = document.getElementById("preview");
                //图片路径设置为读取的图片
                img.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }

        $(function(){
            if(!sessionStorage.getItem('userPhone')){
                $(window).attr('location','companylogin.html');
            }

            if(!localStorage.getItem('company')){ //第一次填写公司认证
                console.log('第一次公司认证第一步');
                var companyrz1 = new Vue({
                    el:'#companyrz1-frame',
                    data:{
                        companyAllName:'',
                        CompanyBusinessNumber:'',
                        file:'',
                        fn:''
                    },
                    created:function(){
                        if(!sessionStorage.getItem('userPhone')){
                            $(window).attr('location','companylogin.html');
                        }
                    },
                    methods:{
                        triggerClick:function(){ //模拟点击
                            $('.file').trigger('click');
                        },
                        getPath:function(event){    //获取文件
                            this.file = event.target.files[0];
                            console.log(this.file);
                        },
                        next:function(){
                            this.fn = new FormData();
                            this.fn.append('companyAllName',this.companyAllName);
                            this.fn.append('CompanyBusinessNumber',this.CompanyBusinessNumber);
                            this.fn.append('file',this.file);

                            this.$http.post('/companyLogin/authOne.do',this.fn,{
                                emulateJSON:true,
                                headers:{
                                    'Content-Type':'multipart/form-data'
                                }
                            }).then(function(res){
                                var bodyText = eval('('+res.bodyText+')');
                                if(bodyText.result == '输入内容不包含空项，请您重新输入。'){
                                    alert(bodyText.result);
                                    $(window).attr('location').reload();
                                }else{
                                    $(window).attr('location','companyrz2.html');
                                }
                            },function(res){
                                console.log(res);
                            });
                        }
                    }
                });
            }else{
                console.log('分公司认证第一步');
                var companyrz1 = new Vue({ //添加分公司认证
                    el:'#companyrz1-frame',
                    data:{
                        companyAllName:'',
                        CompanyBusinessNumber:'',
                        file:''
                    },
                    created:function(){
                        if(!sessionStorage.getItem('userPhone')){
                            $(window).attr('location','companylogin.html');
                        }
                    },
                    methods:{
                        triggerClick:function(){ //模拟点击
                            $('.file').trigger('click');
                        },
                        getPath:function(event){    //获取文件
                            this.file = event.target.files[0];
                            console.log(this.file);
                        },
                        next:function(){
                            this.fn = new FormData();
                            this.fn.append('companyAllName',this.companyAllName);
                            this.fn.append('CompanyBusinessNumber',this.CompanyBusinessNumber);
                            this.fn.append('file',this.file);

                            this.$http.post('/company/authOne.do',this.fn,{
                                emulateJSON:true,
                                headers:{
                                    'Content-Type':'multipart/form-data'
                                }
                            }).then(function(res){
                                var bodyText = eval('('+res.bodyText+')');
                                if(bodyText.result == '输入内容不包含空项，请您重新输入。'){
                                    alert(bodyText.result);
                                    $(window).attr('location').reload();
                                }else{
                                    $(window).attr('location','companyrz2.html');
                                }
                            },function(res){
                                console.log(res);
                            });
                        }
                    }
                });
            }
        });
    </script>
</head>
<body>

<!--企业认证第一步-->

<div id="companyrz1-frame">
    <h3 class="rz1-title">实名认证1</h3>
    <div class="rz-bu-img">
        <div class="bu-ball active">1</div>
        <div class="bu-line"></div>
        <div class="bu-ball">2</div>
        <div class="bu-line"></div>
        <div class="bu-ball">3</div>
    </div>
    <div class="rz-bu-txt">
        <p>单位信息</p>
        <p>法人代表</p>
        <p>完成</p>
    </div>


    <div class="rz1-msg">
        <div class="rz1-line">
            <div class="rz1-txt">企业全称：</div>
            <div class="rz1-input">
                <input class="txt" type="text" v-model="companyAllName" name="companyAllName" placeholder="请输入企业全称（营业执照注册名为准）">
            </div>
        </div>
        <div class="rz1-line">
            <div class="rz1-txt">统一社会信用代码：</div>
            <div class="rz1-input">
                <input class="txt" type="text" v-model="CompanyBusinessNumber" name="CompanyBusinessNumber" placeholder="统一社会信用代码">
            </div>
        </div>

        <div class="rz1-line" style="height:180px;">
            <div class="rz1-txt">营业执照副本扫描件：</div>
            <div class="rz1-input">
                <div class="preview-box">
                    <img src="images/addimg.png" id="preview" @click="triggerClick()" width="100%">
                </div>
                <input class="file" type="file" name="file" v-model="file" onchange="imgPreview(this)" @change="getPath($event)"/>
            </div>
        </div>
        <a href="javascript:;" class="next" @click="next()" >下一步</a>
    </div>
</div>

<!--enctype="multipart/form-data"-->

</body>
</html>