<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>感恩有你订单查看详情页</title>
    <link rel="stylesheet" href="css/baseordergoing.css">
    <script src="../../tooljs/jquery.min.js"></script>
    <script src="../../tooljs/vue.min.js"></script>
    <script src="../../tooljs/vue-resource.min.js"></script>
    <script>
        $(function(){
            var orderGoing = new Vue({
                el:'#order-going-frame',
                data:{
                    companyOrderID:'',   //订单ID
                    employeeArr:[],     //发放明细
                    serviceArr:[],   //服务明细
                    expressExcelGant:'', //导出发放明细地址
                    downTicketPath:'',   //下载发票
                    downPayPath:''     //下载打款截图
                },
                created:function(){
                    this.companyOrderID = localStorage.getItem('orderID');
                    this.loadOrderMsg();

                    this.downPayPath = '/service/downloadImage.do?serviceOrdereID='+localStorage.getItem('orderID');
                    this.downTicketPath = '/ganen/downloadImage.do?serviceOrdereID='+localStorage.getItem('orderID');
                    this.expressExcelGant = '/company/expressExcelGant.do?companyOrderNumber='+localStorage.getItem('orderID');
                    this.expressExcelService = '/company/expressExcelService.do?companyOrderNumber='+localStorage.getItem('orderID');
                },
                methods:{
                    loadOrderMsg:function(){    //读取订单详情
                        this.$http.get('/company/orderByID.do',{
                            params:{
                                companyOrderID:this.companyOrderID
                            }
                        }).then(function(res){
                            var bodyText = eval('('+res.bodyText+')');
                            this.employeeArr = bodyText.employeeInfo;
                            this.serviceArr = bodyText.serviceInfo;
                        },function(res){
                            console.log(res);
                        });
                    }
                }
            });
        });
    </script>
</head>
<body>

<!--感恩有你订单查看详情页-->
<div id="order-going-frame">
    <div class="order-going">
        <!--发放明细-->
        <h3 class="order-send-title">发放明细</h3>
        <a :href="expressExcelGant" class="putout-btn">导出数据</a>
        <div class="send-table">
            <table>
                <tr>
                    <th>服务公司</th>
                    <th>收款人姓名</th>
                    <th>证件号</th>
                    <th>证件类型</th>
                    <th>银行账号</th>
                    <th>开户银行全称</th>
                    <th>开户行识别号</th>
                    <th>实发金额</th>
                    <th>个税</th>
                    <th>手机号</th>
                </tr>
                <tr v-for="(item,index) in employeeArr">
                    <td>{{item.serviceCompanyAllName}}</td>
                    <td>{{item.employeeName}}</td>
                    <td>{{item.employeeCard}}</td>
                    <td>{{item.employeeCardCN}}</td>
                    <td>{{item.employeeBankNumber}}</td>
                    <td>{{item.employeeOpen}}</td>
                    <td>{{item.employeeOpenNumber}}</td>
                    <td>￥<span>{{item.employeePrice}}</span></td>
                    <td>￥<span>{{item.employeeTax}}</span></td>
                    <td>{{item.employeePhone}}</td>
                </tr>
            </table>
        </div>

        <!--服务明细-->
        <h3 class="service-title">服务明细</h3>
        <a :href="expressExcelService" class="putout-btn">导出数据</a>
        <div class="service-table">
            <table>
                <tr>
                    <th>甲方公司名称</th>
                    <th>甲方税号</th>
                    <th>地址</th>
                    <th>开户行账号</th>
                    <th>实发金额</th>
                    <th>个税</th>
                    <th>付款总额</th>
                    <th>乙方公司名称</th>
                    <th>乙方账号</th>
                    <th>乙方开户行</th>
                    <th>发票类型</th>
                    <th>发票类目</th>
                    <th>发票</th>
                    <th>打款截图</th>
                </tr>
                <tr v-for="(item,index) in serviceArr">
                    <td>{{item.companyAllName}}</td>
                    <td>{{item.companyTaxNumber}}</td>
                    <td>{{item.companyAddress}}</td>
                    <td>{{item.companyBankCard}}</td>
                    <td>￥<span>{{item.companyOrderSalary}}</span></td>
                    <td>￥<span>{{item.companyOrderTaxCount}}</span></td>
                    <td>￥<span>{{item.companyOrderPriceCount}}</span></td>
                    <td>{{item.serviceCompanyAllName}}</td>
                    <td>{{item.serviceOpenNumber}}</td>
                    <td>{{item.serviceOpenName}}</td>
                    <td>{{item.serviceTicketType}}</td>
                    <td>{{item.serviceTicketCategory}}</td>
                    <td>
                        <a :href="downTicketPath">点击下载</a>
                    </td>
                    <td>
                        <a :href="downPayPath">点击下载</a>
                    </td>
                </tr>
            </table>
        </div>
        <a class="back-btn" href="baseorder.html">返回订单管理</a>
    </div>
</div>

</body>
</html>